{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": ["> 5%", "last 2 versions"]
        }
      }
    ],
    "stage-0"
  ],
  "plugins": [ "external-helpers", "transform-decorators"]
}
