{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "targets": {
          "browsers": ["last 10 Chrome versions", "iOS >= 9", "Android >= 4.4"]
        }
      }
    ]
  ],
  "plugins": [ "@babel/plugin-external-helpers", "babel-plugin-lodash"]
}
