{
  "editor.formatOnPaste": true,
  "editor.formatOnSave": true,
  "editor.formatOnType": true,
  "prettier.trailingComma": "none",
  "prettier.printWidth": 200,
  "prettier.disableLanguages": [],
  "prettier.eslintIntegration": true,
  "prettier.arrowParens": "always",
  "prettier.tabWidth": 2,
  "prettier.singleQuote": true,
  "[scss]": {
    "prettier.singleQuote": false
  }
}
